body:has(.adventurous) {
    --light-color-background: hsl(35, 36%, 95%);
    --light-color-foreground: hsl(31, 45%, 20%);

    --light-color-red: #b14c42; /* dusty ranger red */
    --light-color-orange: #c8763b; /* trail blaze orange */
    --light-color-yellow: #d6a843; /* parkway gold */
    --light-color-green: #567a4c; /* moss green */
    --light-color-cyan: #4b8c86; /* glacial teal */
    --light-color-blue: #486c8c; /* map ink blue */
    --light-color-purple: #715d82; /* faded trailhead violet */
    --light-color-pink: #b67d77; /* desert rose */

    --light-color-muted: #cfc7b9; /* trail marker beige */
    --light-color-gray: #6a6155; /* bark brown-gray */
    --light-color-soft: #eae3d3; /* canvas base layer */

    --dark-color-background: hsla(30, 19%, 14%, 1);
    --dark-color-foreground: hsl(34, 50%, 80%);

    --dark-color-red: #e27b6b; /* campfire ember */
    --dark-color-orange: #eea05d; /* vintage lantern light */
    --dark-color-yellow: #f4ca69; /* warm flashlight yellow */
    --dark-color-green: #7fb483; /* nighttime pine */
    --dark-color-cyan: #72c1bb; /* cold creek blue */
    --dark-color-blue: #7ca0c7; /* dusty map blue */
    --dark-color-purple: #a68ec6; /* violet sky */
    --dark-color-pink: #e7a6a0; /* faded sleeping bag pink */

    --dark-color-muted: #3d372e; /* tree bark dark */
    --dark-color-gray: #aaa397; /* misty trail fog */
    --dark-color-soft: #29251e; /* nighttime canvas */

    --accent-color: var(--text-normal);
    --code-normal: var(--text-normal);
    --bold-color: var(--color-yellow);
    --italic-color: var(--color-blue);

    --font-text: "Forrest";
    --font-header: "Gorton";
    --font-mono: "Monaspace Xenon Var";
    --font-interface: "Sohne Mono";

    --line-height-normal: 1.5em;
    --font-header-letter-spacing: normal;
    --font-header-line-height: 1em;
    --font-header-weight: 500;
    --font-ratio: 1.5;
}
