body.chisel-color.cssclass-gaspesie {
    --light-color-background: oklch(1 0 84.57);
    --light-color-foreground: oklch(0.2128 0 0);

    --light-color-red: oklch(54.12% 0.207 27.82);
    --light-color-orange: oklch(70.16% 0.199 43.03);
    --light-color-yellow: oklch(68.69% 0.162 92.77);
    --light-color-green: oklch(35.44% 0.078 144.66);
    --light-color-cyan: oklch(79.26% 0.15 222.5);
    --light-color-blue: oklch(56.01% 0.15 249.8);
    --light-color-purple: oklch(56.01% 0.15 300);
    --light-color-pink: oklch(56.01% 0.15 360);

    --dark-color-background: #0e0e1a;
    --dark-color-background: #1d1d1d;
    --dark-color-foreground: #e5e5e5;

    --dark-color-red: oklch(75% 0.15 25);
    --dark-color-orange: oklch(75% 0.15 47);
    --dark-color-yellow: oklch(75% 0.15 92);
    --dark-color-green: oklch(75% 0.15 149);
    --dark-color-cyan: oklch(75% 0.15 213);
    --dark-color-blue: oklch(75% 0.15 249);
    --dark-color-purple: var(--dark-color-blue);
    --dark-color-pink: var(--dark-color-blue);

    --font-ratio: 1.333;

    --font-text: "Joly";
    --font-feature: "liga", "kern";
    --font-variation: "opsz" 8 !important;

    --font-header: "Joly";
    --font-header-feature: "liga", "kern";
    --font-header-variation: "opsz" 15;
    --font-header-line-height: 1em;

    --font-interface: "Joly";

    --font-monospace: "Courier Prime";
    --font-mono-feature: "onum" off;
    --font-mono-variation: "";

    --line-height-normal: 1.9em;

    article h1,
    .inline-title {
        text-align: center;
        padding: 3rlh 0;
        color: var(--color-foreground);
    }

    code,
    .HyperMD-codeblock {
        font-weight: 400;
        font-size: var(--scale-m);
    }
}
