body.chisel-color.cssclass-kernel {
    --light-color-background: #f4f5f3;
    --light-color-foreground: #1d3557;

    /* Neutrals */
    --light-color-gray: #6b7280; /* text gray */
    --light-color-muted: #a0a0a0; /* UI border / secondary */
    --light-color-soft: #e2e2df; /* UI backgrounds, blockquotes */

    /* Accent system */
    --light-color-red: #c92a2a; /* warning, highlight */
    --light-color-orange: #e08e1f; /* attention blocks */
    --light-color-yellow: #d4af37; /* vintage punchcard yellow */
    --light-color-green: #4ca06b; /* success, approval */
    --light-color-cyan: #2aa198; /* teal-y terminal feel */
    --light-color-blue: #3b82f6; /* link, info */
    --light-color-purple: #7e5bef; /* utility, label tags */
    --light-color-pink: #d16d92; /* softer technical touch */

    --light-color-background: #fffcf0;
    --light-color-foreground: #100f0f;
    /* Accent system */
    --light-color-red: #af3029; /* warning, highlight */
    --light-color-orange: #bc5215; /* attention blocks */
    --light-color-yellow: #ad8301; /* vintage punchcard yellow */
    --light-color-green: #66800b; /* success, approval */
    --light-color-cyan: #24837b; /* teal-y terminal feel */
    --light-color-blue: #205ea6; /* link, info */
    --light-color-purple: #5e409d; /* utility, label tags */
    --light-color-pink: #a02f6f; /* softer t


    /* Neutrals */
    --dark-color-gray: #c9c9c9; /* text gray */
    --dark-color-muted: #999; /* borders, UI frame */
    --dark-color-soft: #2d2f33; /* dark gray blocks */

    --dark-color-background: oklch(0.2228 0.0025 67.7); /* dark terminal feel */
    --dark-color-foreground: oklch(0.8174 0.0149 98.3);

    /* Accent system */
    --dark-color-red: #d14d41;
    --dark-color-orange: #da702c;
    --dark-color-yellow: #ad8301;
    --dark-color-green: #879a39;
    --dark-color-cyan: #24837b;
    --dark-color-blue: #4385be;
    --dark-color-purple: #8b7ec8;
    --dark-color-pink: #ce5d97;

    /* Code and UI extras */
    --accent-color: var(--color-blue);
    --bold-color: var(--color-red);
    --italic-color: var(--color-green);

    --font-text: "Söhne Mono", "Oktah Round Variable";
    --normal-weight: 400;
    --bold-weight: 400;
    --link-weight: 400;
    --font-feature: "liga", "clig", "kern", "calt", "zero", "ss05";
    --font-header: "Inter Variable";
    --font-header-feature:
        "liga", "calt", "case", "kern", "cv01", "cv02", "cv03", "cv04", "cv06",
        "cv09", "cv10", "cv11", "cv12", "cv13";
    --font-monospace: "MonoLisa";
    --font-mono-feature:
        "liga", "zero", "calt", "ss02", "ss03", "ss07", "ss10", "ss15", "ss16";
    --font-interface: "Söhne Mono";

    --font-density: 1.5;
    --font-header-line-height: 1em;
    --font-header-weight: 900;
    --font-header-letter-spacing: -0.07em;

    --code-function: var(--color-pink);

    --font-line-width: 75ch;

    &.theme-dark {
        --accent-color: var(--color-purple);
        --bold-color: var(--color-pink);
    }
    .inline-title {
        text-align: left;
    }
    .inline-title,
    .markdown-reading-view :is(h1, h2, h3, h4, h5, h6) {
        color: #403e3c;
    }
    &.theme-dark .inline-title,
    &.theme-dark .markdown-reading-view :is(h1, h2, h3, h4, h5, h6) {
        color: #b7b5ac;
    }

    .token.comment {
        color: color-mix(
            in oklab,
            var(--color-base-100) 40%,
            var(--color-base-00)
        );
        font-style: italic;
    }
}
