body.chisel-color.cssclass-mono {
    --light-color-base-100: #100f0f;
    --light-color-base-00: #fffcf0;
    --light-color-red: #af3029;
    --light-color-orange: #bc5215;
    --light-color-yellow: #ad8301;
    --light-color-green: #66800b;
    --light-color-cyan: #142625;
    --light-color-blue: #205ea6;
    --light-color-purple: #5e409d;
    --light-color-pink: #a02f6f;
    /* Dark */
    --dark-color-base-100: #fffcf0;
    --dark-color-base-00: #100f0f;

    --color-accent: var(--text-normal);
    --font-monospace: var(--text-normal);
    --bold-color: var(--text-normal);
    --italic-color: var(--text-normal);

    --font-text: "Söhne Mono";
    --font-header: "Inter Variable";
    --font-monospace: "Söhne Mono";
    --font-interface: "Söhne Mono";

    --font-density: 1.5;
    --bold-weight: 700;
    --font-feature:
        "zero", "calt", "cv01", "cv07", "cv10", "cv11", "cv14", "cv16", "cv17",
        "cv18", "ss01";
    --font-header-feature:
        "liga", "calt", "case", "kern", "cv01", "cv02", "cv03", "cv04", "cv06",
        "cv09", "cv10", "cv11", "cv12", "cv13";
    --font-header-weight: 900;
    --font-header-line-height: 1em;
    --font-header-letter-spacing: -0.07em;

    .markdown-reading-view img {
        filter: none !important;
        mix-blend-mode: normal !important;
    }
}
