body.chisel-color.cssclass-mono {
    --light-color-base-100: #100f0f;
    --light-color-base-00: #fffcf0;
    --light-color-red: #af3029;
    --light-color-orange: #bc5215;
    --light-color-yellow: #ad8301;
    --light-color-green: #66800b;
    --light-color-cyan: #142625;
    --light-color-blue: #205ea6;
    --light-color-purple: #5e409d;
    --light-color-pink: #a02f6f;
    /* Dark */
    --dark-color-base-100: #fffcf0;
    --dark-color-base-00: #100f0f;
    --dark-color-red: #af3029;
    --dark-color-orange: #bc5215;
    --dark-color-yellow: #ad8301;
    --dark-color-green: #66800b;
    --dark-color-cyan: #142625;
    --dark-color-blue: #205ea6;
    --dark-color-purple: #5e409d;
    --dark-color-pink: #a02f6f;

    --color-accent: var(--text-normal);
    --font-monospace: var(--text-normal);
    --bold-color: var(--text-normal);
    --italic-color: var(--text-normal);
    --font-text: "Söhne Mono";
    --font-header: "InterVariable";
    --font-header-weight: "900";
    --font-monospace: "Söhne Mono";
    --font-interface: "Söhne Mono";
    --line-height-normal: 1.2em;
    --font-letter-spacing: -0.02em;
    /*--font-letter-spacing: 	0em;
	--typo-ratio: 			1.425;
	--font-text-size: 		18px;*/
    --normal-weight: 400;
    --bold-weight: 700;
    --font-feature:
        "zero", "calt", "cv01", "cv07", "cv10", "cv11", "cv14", "cv16", "cv17",
        "cv18", "ss01";

    img {
        filter: none !important;
        mix-blend-mode: normal !important;
    }
}
