body:has(.vogue), body.theme-dark:has(.vogue), body.theme-light:has(.vogue) {
	--light-color-base-100:	black;
	--light-color-base-00:	white;
	--dark-color-base-100:	#e2dbd1;
	--dark-color-base-00:	#201e1c;
	--font-ratio:	1.333;
	--font-text:	"Cotford Var";
	--font-feature:	"";
	--font-variation:	"wght" 400;
	--font-interface:	"Futura Now Var";
	--font-header:	"Futura Now Var";
	--font-header-feature:	"";
	--font-header-variation:	"wght" 300, "wdth" 100.0;
	--font-header-letter-spacing:	normal;
	--font-monospace:	"Sohne Mono";
	--font-mono-feature:	"";
	--font-mono-variation:	"";
  }
  
  body:has(.vogue) .inline-title {
	text-align: center;
	margin-bottom: 4rlh;
  }