$screen-small-width: 600px;
$screen-large-width: 1500px;

code[class*="language-"], pre[class*="language-"] {
	white-space: pre;
}

.inline-title {
	word-break: keep-all;
	overflow-wrap:normal;
}

@import 'styles/avantgarde';
@import 'styles/averia';
@import 'styles/charter';
@import 'styles/forrest';
@import 'styles/futura';
@import 'styles/mariage';
@import 'styles/metah';
@import 'styles/mono';
@import 'styles/oktah';
@import 'styles/vogue';
@import 'styles/wb';
@import 'styles/yb';