$screen-small-width: 600px;
$screen-large-width: 1500px;

@import "tools/img-blend";
@import "tools/img-grid";
@import "tools/img-minimize";
@import "tools/img-zoom";
@import "tools/link-decoration-off";
@import "tools/link-icon-off";

@import "tools/typo-external-link-no-icon";

@import "tools/typo-indent";
@import "tools/typo-justify";

@import "tools/typo-vertical-rhythm";

@import "tools/typo-zoom-large-screen";
@import "tools/typo";

body.chisel-typography {
    --font-header: "Fraunces", "InterVariable";
    --font-feature: "liga", "salt", "clig", "kern", "calt", "zero";
    --font-header-feature: "liga";
    --font-header-variation: "SOFT" 75, "WONK" 0;
    --font-ratio: 1.333;
    --font-density: 1.7;
}
body.chisel-color {
    /* Light */
    --light-color-foreground: #222;
    --light-color-background: #ffffff;

    --light-color-red: #b33a2a;
    --light-color-orange: #bc5215;
    --light-color-yellow: #cc8815;
    --light-color-green: #66800b;
    --light-color-cyan: #82a1b2;
    --light-color-blue: #438199;
    --light-color-purple: #5e409d;
    --light-color-pink: #a02f6f;

    --light-accent-color: var(--color-yellow);
    --light-bold-color: var(--color-red);
    --light-italic-color: var(--color-blue);

    /* Dark */
    --dark-color-foreground: oklch(0.7721 0.0228 96.47);
    --dark-color-background: oklch(0.2308 0.0023 67.73);

    --dark-color-red: #d14d41;
    --dark-color-orange: #da702c;
    --dark-color-yellow: #cc8815;
    --dark-color-green: #879a39;
    --dark-color-cyan: #3aa99f;
    --dark-color-blue: #4385be;
    --dark-color-purple: #9a462b;
    --dark-color-pink: #a8431b;

    --dark-accent-color: var(--color-yellow);
    --dark-bold-color: var(--color-red);
    --dark-italic-color: var(--color-blue);

    --bold-weight: 400;
}

@import "tools/ui-better-highlight";
@import "tools/ui-block-small";
@import "tools/ui-blur";
@import "tools/ui-callout";
@import "tools/ui-code";
@import "tools/ui-focus";
@import "tools/ui-frontmatter";

@import "tools/ui-minimalist";

@import "tools/ui-sidenote";
@import "tools/ui-textures";

@import "tools/ui-transclusion-inv";
@import "tools/ui-transclusion-no-header";

@import "tools/ui-base";

@import "tools/ui-color";
@import "styles/forrest";

@import "styles/avantgarde";

@import "styles/mariage";

@import "styles/mono";
@import "styles/mono-retro";
@import "styles/mono-yellow";
@import "styles/apex";
@import "styles/bluey";

@import "styles/kernel";
@import "styles/reflexion";
@import "styles/manifeste";
@import "styles/gaspesie";
@import "styles/cracker";

@import "tools/fonts";
@import "tools/settings";

.is-mobile #sr-modal {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 90% !important;
}
