body {
    --color-accent-default: hsl(
        var(--accent-h) var(--accent-s) var(--accent-l)
    );
    --color-bold-default: var(--color-foreground);
    --color-italic-default: var(--color-foreground);
}

body.chisel-color.theme-light,
body.chisel-color.theme-dark {
    /* --color-background:						var(--color-background); */
    --color-base-05: color-mix(
        in oklab,
        var(--color-foreground) 5%,
        var(--color-background)
    );
    --color-base-10: color-mix(
        in oklab,
        var(--color-foreground) 10%,
        var(--color-background)
    );
    --color-base-20: color-mix(
        in oklab,
        var(--color-foreground) 20%,
        var(--color-background)
    );
    --color-base-25: color-mix(
        in oklab,
        var(--color-foreground) 25%,
        var(--color-background)
    );
    --color-base-30: color-mix(
        in oklab,
        var(--color-foreground) 30%,
        var(--color-background)
    );
    --color-base-35: color-mix(
        in oklab,
        var(--color-foreground) 35%,
        var(--color-background)
    );
    --color-base-40: color-mix(
        in oklab,
        var(--color-foreground) 40%,
        var(--color-background)
    );
    --color-base-50: color-mix(
        in oklab,
        var(--color-foreground) 50%,
        var(--color-background)
    );
    --color-base-60: color-mix(
        in oklab,
        var(--color-foreground) 60%,
        var(--color-background)
    );
    --color-base-70: color-mix(
        in oklab,
        var(--color-foreground) 70%,
        var(--color-background)
    );

    --background-primary: var(--color-background);
    --background-primary-alt: var(--color-base-05);

    --background-secondary: var(--color-base-05);
    --background-secondary: color-mix(
        in oklab,
        var(--color-foreground) 2.5%,
        var(--background-primary)
    );
    --background-secondary-alt: var(--color-background);

    --color-red: var(--color-light-red);
    --color-orange: var(--color-light-orange);
    --color-yellow: var(--color-light-yellow);
    --color-green: var(--color-light-green);
    --color-cyan: var(--color-light-cyan);
    --color-blue: var(--color-light-blue);
    --color-purple: var(--color-light-purple);
    --color-pink: var(--color-light-pink);

    /*--color-accent-default: var(--color-accent);*/
    --color-accent-default: hsl(
        var(--accent-h) var(--accent-s) var(--accent-l)
    );

    --color-interactive: color-mix(
        in oklab,
        var(--color-accent) 25%,
        transparent
    );
    --color-interactive-hover: color-mix(
        in oklab,
        var(--color-accent) 50%,
        transparent
    );
    --color-interactive-hover-backgound: color-mix(
        in oklab,
        var(--color-accent) 15%,
        transparent
    );
    --color-icon: var(--text-muted);

    --bold-color: var(--color-bold);
    --italic-color: var(--color-italic);

    --color-h1: var(--color-foreground);
    --color-h2: var(--color-foreground);
    --color-h3: var(--color-foreground);
    --color-h4: var(--color-foreground);
    --color-h5: var(--color-foreground);
    --color-h6: var(--color-foreground);

    --background-modifier-hover: var(--color-interactive-hover-backgound);
    --background-modifier-active-hover: var(--background-secondary);
    --background-modifier-border: var(--background-secondary);
    --background-modifier-border-hover: var(--color-base-20);
    --background-modifier-border-focus: var(--color-base-70);
    --background-modifier-error: var(--color-base-05);
    --background-modifier-error-hover: var(--color-base-05);
    --background-modifier-success: var(--color-base-05);
    --background-modifier-message: var(--color-base-05);
    --background-modifier-form-field: var(--color-base-05);

    --border-color: color-mix(in oklab, black 10%, var(--background-primary));
    --border-width: 1px;

    --divider-color: var(--border-color);
    --divider-width: var(--border-width);
    --hr-color: color-mix(
        in oklab,
        var(--text-normal) 25%,
        var(--background-primary)
    );
    --hr-thickness: 1px;
    --tab-outline-color: var(--border-color);
    --tab-outline-width: var(--border-width);
    --tab-outline-color: var(--border-color);
    --tab-outline-width: var(--border-width);
    --tab-text-color-focused-active-current: var(--foreground-color);
    --prompt-border-color: var(--border-color);
    --prompt-border-width: var(--border-width);
    --table-border-color: var(--border-color);
    --modal-border-color: var(--border-color);
    --status-bar-border-width: var(--border-width);
    --status-bar-border-color: var(--border-color);
    --status-bar-border-width: 0;

    --blockquote-border-thickness: 2px;
    --blockquote-border-color: var(--border-color);

    /*--background-modifier-border: var(--border-color);*/

    --interactive-normal: var(--color-base-10);
    --interactive-hover: var(--color-interactive-hover);
    --interactive-accent: var(--color-interactive);
    --interactive-accent-hsl: 0, 0, 50;
    --interactive-accent-hover: var(--color-interactive-hover);

    /*
    .mod-settings .vertical-tab-content > .setting-item:nth-child(2) {
        opacity: 0.5;
    }
    .mod-settings
        .vertical-tab-content
        > .setting-item:nth-child(2)
        .clickable-icon[aria-label="Restore default"] {
        display: none;
    }
    .mod-settings
        .vertical-tab-content
        > .setting-item:nth-child(2)
        > .setting-item-control
        > input[type="color"] {
        visibility: hidden;
        width: 300px;
        text-align: right;
        padding-top: 1rlh;
    }
    .mod-settings
        .vertical-tab-content
        > .setting-item:nth-child(2)
        > .setting-item-control
        > input[type="color"]::before {
        visibility: visible;
        content: "Chisel plugin override the accent color";
        color: var(--text-error);
        font-family: var(--font-interface);
        font-size: var(--font-ui-smaller);
    }
    */

    --text-normal: var(--color-foreground);
    --text-muted: var(--color-base-70);
    --text-faint: var(--color-base-50);
    --text-on-accent: var(--color-foreground);
    --text-on-accent-inverted: var(--color-background);
    --text-success: var(--color-green);
    --text-warning: var(--color-red);
    --text-error: var(--color-red);
    --text-accent: var(--color-accent);
    --text-accent-hover: var(--color-foreground);
    --text-selection: color-mix(
        in oklab,
        var(--color-yellow) 25%,
        var(--color-background)
    );
    --metadata-label-text-color: var(--color-icon);

    .notice,
    .notice-cta {
        color: var(--text-muted) !important;
    }

    --link-external-color: var(--color-green);
    --link-external-color-hover: color-mix(
        in oklab,
        var(--color-foreground) 25%,
        var(--color-background)
    );
    --link-color: var(--color-accent);
    --link-color-hover: color-mix(
        in oklab,
        var(--link-color) 25%,
        var(--color-foreground)
    );

    --tag-background: color-mix(in oklab, black 2%, transparent);
    --tag-border: var(--border-color);
    --tag-color: var(--text-muted);

    --icon-color: var(--color-icon);
    --icon-hex: var(--mono0);
    --icon-opacity-hover: 1;
    --icon-color-active: var(--color-foreground);
    --icon-color-focused: var(--color-foreground);
    --icon-color-hover: var(--color-accent) !important;

    .clickable-icon:hover,
    .nav-buttons-container:hover,
    .sidebar-toggle-button:hover,
    .view-action:hover {
        color: var(--color-accent) !important;
        --icon-color-hover: var(--color-accent) !important;
    }

    &.folder-note-underline-path .has-folder-note.view-header-breadcrumb:hover {
        text-decoration-color: var(--color-accent);
    }

    .side-dock-actions {
        color: var(--icon-color);
    }

    --nav-item-color: var(--color-foreground);
    --nav-item-color-active: var(--color-foreground);
    --nav-item-color-hover: var(--color-accent);
    --nav-collapse-icon-color: color-mix(
        in oklab,
        var(--text-normal) 25%,
        transparent
    );
    --nav-collapse-icon-color-hover: color-mix(
        in oklab,
        var(--text-normal) 100%,
        transparent
    );
    --nav-collapse-icon-color-collapsed: color-mix(
        in oklab,
        var(--text-normal) 100%,
        transparent
    );
    --nav-indentation-guide-color: color-mix(
        in oklab,
        var(--text-normal) 5%,
        transparent
    );
    --nav-item-background-hover: var(--color-interactive-hover-backgound);
    --nav-item-background-active: var(--color-interactive-hover-backgound);
    --nav-item-color-highlighted: var(--color-foreground);

    .nav-folder.is-being-dragged-over {
        background: color-mix(
            in oklab,
            var(--color-accent) 5%,
            transparent
        ) !important;
    }

    :not(.sidebar-color) .mod-right-split {
        --background-secondary: unset !important;
    }
    --ribbon-background: var(--background-secondary);
    --ribbon-background-collapsed: var(--background-secondary);

    --titlebar-background: var(--background-secondary) !important;
    --titlebar-background-focused: var(--background-secondary) !important;
    --titlebar-text-color-focused: var(--text-normal) !important;
    --tab-container-background: var(--background-secondary) !important;

    --indentation-guide-color: color-mix(
        in oklab,
        var(--color-foreground) 12%,
        transparent
    );
    --indentation-guide-color-active: color-mix(
        in oklab,
        var(--color-foreground) 3%,
        transparent
    );
    --scrollbar-active-thumb-bg: color-mix(
        in oklab,
        var(---color-foreground) 20%,
        transparent
    );
    --scrollbar-bg: color-mix(
        in oklab,
        var(--color-foreground) 5%,
        transparent
    );
    --scrollbar-thumb-bg: color-mix(
        in oklab,
        var(--color-foreground) 1%,
        transparent
    );
    --swatch-shadow: inset 0 0 0 1px
        color-mix(in oklab, var(--color-foreground) 1%, transparent);
    --workspace-background-translucent: color-mix(
        in oklab,
        var(--color-foreground) 40%,
        transparent
    );
    --text-highlight-bg: color-mix(
        in oklab,
        var(--color-yellow) 15%,
        transparent
    );

    --callout-default: var(--color-blue);
    --callout-content-padding: 0;
    --callout-content-background: transparent;
    --callout-bug: var(--color-red);
    --callout-error: var(--color-red);
    --callout-example: var(--color-purple);
    --callout-fail: var(--color-red);
    --callout-important: var(--color-cyan);
    --callout-info: var(--color-blue);
    --callout-question: var(--color-orange);
    --callout-success: var(--color-green);
    --callout-summary: var(--color-cyan);
    --callout-tip: var(--color-cyan);
    --callout-todo: var(--color-blue);
    --callout-warning: var(--color-orange);
    --callout-quote: var(--color-cyan);
    /*
	Theme specific
	*/
    --tx1: var(--text-normal) !important;
    --tx2: var(--text-muted) !important;
    --tx3: var(--text-faint) !important;
    --ui1: var(--divider-color) !important;
    --ui2: var(--divider-color) !important;
    --ui3: var(--divider-color) !important;
    --bg1: var(--background-secondary) !important;
    --bg2: var(--background-secondary) !important;
    --bg3: var(--interactive-accent) !important;
    --alternating-color-1: var(--color-yellow);
    --alternating-color-2: var(--color-red);
    --alternating-color-3: var(--color-blue);
    --inline-title-color: var(--text-normal);

    .tree-item-self:hover {
        --nav-collapse-icon-color: color-mix(
            in oklab,
            var(--color-accent) 75%,
            transparent
        );
    }

    &.folder-note-underline .has-folder-note:hover .nav-folder-title-content {
        text-decoration-color: color-mix(
            in oklab,
            var(--color-accent) 25%,
            transparent
        );
    }

    .markdown-reading-view b,
    .markdown-reading-view strong,
    span.cm-strong,
    .cm-strong {
        color: var(--color-bold);
    }
    .markdown-reading-view em,
    span.cm-em,
    .cm-em {
        color: var(--color-italic);
    }

    .checkbox-container.is-enabled {
        background-color: var(--color-interactive-hover);
    }

    input[type="checkbox"][data-indeterminate="true"]:not(:checked):after {
        background-color: var(--text-faint);
    }

    &.hider-tabs .workspace:not(.is-left-sidedock-open) {
        --bg1: var(--background-primary) !important;
        --titlebar-background: var(--background-primary) !important;
        --titlebar-background-focused: var(--background-primary) !important;
    }

    &.is-mobile {
        --mobile-sidebar-background: var(--background-secondary);
        --color-interactive: var(--text-faint);
    }

    &.theme-light {
        --color-foreground: var(
            --color-light-foreground,
            var(--color-base-100)
        );
        --color-background: var(--color-light-background, var(--color-base-00));

        --color-white: var(--color-background);
        --color-black: var(--color-foreground);

        --color-accent: var(--color-light-accent, var(--color-accent-default));
        --color-bold: var(--color-light-bold, var(--color-bold-default));
        --color-italic: var(--color-light-italic, var(--color-italic-default));
    }

    .markdown-source-view.mod-cm6 hr {
        border-width: var(--hr-thickness);
    }

    @media only screen and (max-width: 600px) {
        &.is-mobile .workspace-split.mod-root {
            background-color: var(--background-primary);
        }
    }

    &.theme-dark,
    &.is-mobile.theme-dark {
        --color-foreground: var(--color-dark-foreground, var(--color-base-100));
        --color-background: var(--color-dark-background, var(--color-base-00));

        --color-red: var(--color-dark-red);
        --color-orange: var(--color-dark-orange);
        --color-yellow: var(--color-dark-yellow);
        --color-green: var(--color-dark-green);
        --color-cyan: var(--color-dark-cyan);
        --color-blue: var(--color-dark-blue);
        --color-purple: var(--color-dark-purple);
        --color-pink: var(--color-dark-pink);

        --color-white: var(--color-foreground);
        --color-black: var(--color-background);

        --border-color: color-mix(in oklab, black 13%, var(--color-background));

        --color-accent: var(--color-dark-accent, var(--color-accent-default));
        --color-bold: var(--color-dark-bold, var(--color-bold-default));
        --color-italic: var(--color-dark-italic, var(--color-italic-default));
        --blockquote-border-color: var(--text-faint);

        --color-h1: color-mix(
            in oklab,
            var(--color-foreground) 85%,
            var(--color-background)
        );
        --color-h2: color-mix(
            in oklab,
            var(--color-foreground) 90%,
            var(--color-background)
        );
        --color-h3: color-mix(
            in oklab,
            var(--color-foreground) 95%,
            var(--color-background)
        );
        --color-h4: var(--color-foreground);
        --color-h5: var(--color-foreground);
        --color-h6: var(--color-foreground);

        --background-primary: var(--color-base-05);
        --background-primary: color-mix(
            in oklab,
            var(--color-foreground) 2%,
            var(--color-background)
        );
        --background-primary-alt: var(--color-background);

        --background-secondary: var(--color-background);
        --background-secondary-alt: var(--color-base-05);

        --text-highlight-bg: color-mix(
            in oklab,
            var(--color-yellow) 20%,
            transparent
        );

        --nav-item-color: var(--text-muted);
        --nav-item-color-active: var(--text-muted);
        --color-icon: var(--text-faint);

        --metadata-label-text-color: var(--color-icon);
        --metadata-input-text-color: var(--text-muted);
        --input-placeholder-color: var(--color-icon);
    }

    pre {
        color: var(--color-base-70);
    }
    .markdown-rendered mark,
    .cm-s-obsidian span.cm-highlight {
        background-color: var(--text-highlight-bg);
        color: currentColor;
    }

    a.footnote-link {
        color: var(--text-faint);
    }

    .sidebar-toggle-button.mod-right {
        background: none !important;
    }

    .workspace-drawer-inner,
    .workspace-split.mod-root,
    .mod-root .workspace-tabs .workspace-leaf {
        background: var(--background-secondary);
    }
    .workspace-leaf-content {
        border-radius: var(--radius-m);
    }
    .notice,
    .tooltip {
        color: color-mix(in oklab, var(--text-normal) 50%, transparent);
    }

    .is-translucent:not(.is-fullscreen) {
        --nav-collapse-icon-color: color-mix(
            in oklab,
            var(--mono-100) 30%,
            transparent
        );
        --nav-collapse-icon-color-collapsed: color-mix(
            in oklab,
            var(--mono-100) 30%,
            transparent
        );
    }
    .diff-line.mod-left {
        background-color: color-mix(
            in oklab,
            var(--background-modifier-error) 20%,
            transparent
        );
    }
    .diff-line.mod-left .diff-changed {
        background-color: color-mix(
            in oklab,
            var(--background-modifier-error) 40%,
            transparent
        );
    }
    .diff-line.mod-right {
        background-color: color-mix(
            in oklab,
            var(--background-modifier-success) 20%,
            transparent
        );
    }
    .diff-line.mod-right .diff-changed {
        background-color: color-mix(
            in oklab,
            var(--background-modifier-success) 40%,
            transparent
        );
    }
    input.document-search-input.mod-no-match,
    input.document-replace-input.mod-no-match {
        background-color: color-mix(
            in oklab,
            var(--background-modifier-error) 20%,
            transparent
        );
    }
    @media (hover: hover) {
        input.document-search-input.mod-no-match:hover,
        input.document-replace-input.mod-no-match:hover {
            background-color: color-mix(
                in oklab,
                var(--background-modifier-error) 20%,
                transparent
            );
        }
        .workspace-tab-header.is-active
            .workspace-tab-header-inner-close-button:hover {
            color: var(--color-accent);
        }
    }
    @media (hover: hover) {
        .view-header-title-parent .view-header-breadcrumb:hover {
            background-color: var(--color-interactive-hover-backgound);
            color: var(--color-accent);
        }
    }
    @media (hover: hover) {
        input[type="color"]::-webkit-color-swatch:hover {
            box-shadow:
                inset 0 0 0 1px
                    color-mix(in oklab, var(--mono-100) 20%, transparent),
                0 0 0 3px var(--background-modifier-border-hover);
        }
    }
    .pdf-findbar .mod-not-found {
        --background-modifier-form-field: color-mix(
            in oklab,
            var(--background-modifier-error) 10%,
            transparent
        );
        --background-modifier-border-focus: color-mix(
            in oklab,
            var(--background-modifier-error) 60%,
            transparent
        );
    }

    @media (hover: hover) {
        .metadata-property-warning-icon:hover {
            background-color: color-mix(
                in oklab,
                var(--color-orange) 15%,
                transparent
            );
        }
    }
    .file-tree .mod-new.is-selected {
        background-color: color-mix(
            in oklab,
            var(--background-modifier-success) 20%,
            transparent
        );
    }
    .file-tree .mod-deleted.is-selected,
    .file-tree .mod-to-delete.is-selected {
        background-color: color-mix(
            in oklab,
            var(--background-modifier-error) 20%,
            transparent
        );
    }
    .publish-upload-item:before {
        background-color: color-mix(
            in oklab,
            var(--background-modifier-success) 20%,
            transparent
        );
    }
    .publish-upload-item.mod-failed:before {
        background-color: color-mix(
            in oklab,
            var(--background-modifier-error) 20%,
            transparent
        );
    }
    .sync-history-list-item-header .sync-history-list-item-avatar {
        border: 1px solid color-mix(in oklab, var(--mono-100) 20%, transparent);
    }
    .canvas-node-placeholder::after {
        background-color: color-mix(
            in oklab,
            var(--canvas-color) 10%,
            transparent
        );
    }
    .canvas-node.is-themed .canvas-node-container {
        border-color: color-mix(in oklab, var(--canvas-color) 70%, transparent);
        box-shadow:
            inset 0 0 0 1px
                color-mix(in oklab, var(--canvas-color) 70%, transparent),
            var(--shadow-stationary);
    }
    .canvas-node-group .canvas-node-content {
        background-color: color-mix(
            in oklab,
            var(--canvas-color) 7%,
            transparent
        );
    }
    .canvas-group-label {
        background-color: color-mix(
            in oklab,
            var(--canvas-color) 1%,
            transparent
        );
    }
    .canvas-node.is-themed .canvas-node-content {
        background-color: color-mix(
            in oklab,
            var(--canvas-color) 70%,
            transparent
        );
    }
    .canvas-edges g.is-focused path.canvas-interaction-path,
    .canvas:not(.is-connecting)
        .canvas-edges
        g:hover
        path.canvas-interaction-path {
        stroke: color-mix(in oklab, var(--canvas-color) 10%, transparent);
    }
}
