body {
    /*
    --font-text: "Inter Variable", "Fern Variable", "Graveur Variable", Bookerly;
    --font-interface: var(--font-text);
    --font-monospace: "Monaspace Xenon Var";
    */
    --font-header: var(--font-text);

    --font-density: 1.7;
    --font-ratio: 1.333;
    --font-line-width: 35rlh;
    --font-weight: 400;
    --font-feature: "";
    --font-variation: "";
    --font-size: var(--font-text-size);
    --bold-weight: 600;

    --font-header-weight: 400;
    --font-header-letter-spacing: -0.025em;
    --font-header-line-height: 1.3em;
    --font-header-feature: "";
    --font-header-variation: "";

    --font-monospace-feature: "";
    --font-monospace-variation: "";
}
.chisel-typography {
    text-rendering: optimizeLegibility; /* kerning & ligatures */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-optical-sizing: auto;

    --normal-weight: var(--font-weight);
    --font-feature-settings: var(--font-feature);
    --font-variation-settings: var(--font-variation);
    --line-height-normal: var(--font-density);
    --heading-spacing: var(--line-height-normal);
    --inline-title-font: var(--font-header);
    --file-line-width: var(--font-line-width);
    --line-width: var(--font-line-width);
    --nav-item-weight: 400;

    --inline-title-size: calc(var(--font-size) * pow(var(--font-ratio), 4));
    --h1-size: calc(var(--font-size) * pow(var(--font-ratio), 3));
    --h2-size: calc(var(--font-size) * pow(var(--font-ratio), 3));
    --h3-size: calc(var(--font-size) * pow(var(--font-ratio), 2));
    --h4-size: calc(var(--font-size) * pow(var(--font-ratio), 1));
    --h5-size: calc(var(--font-size) * pow(var(--font-ratio), 0.5));
    --h6-size: calc(var(--font-size) * pow(var(--font-ratio), 0.5));
    --font-smallest: calc(var(--font-size) * pow(var(--font-ratio), -1.5));
    --font-smaller: calc(var(--font-size) * pow(var(--font-ratio), -1));
    --font-small: calc(var(--font-size) * pow(var(--font-ratio), -0.5));
    --tag-size: var(--font-smaller);
    --code-size: var(--font-small);

    --metadata-input-font-size: calc(
        var(--font-size) * pow(var(--font-ratio), 0)
    );

    --inline-title-weight: var(--font-header-weight);
    --h1-weight: var(--font-header-weight);
    --h2-weight: calc(var(--font-header-weight) * 1);
    --h3-weight: calc(var(--font-header-weight) * 1);
    --h4-weight: calc(var(--font-header-weight) * 1);
    --h5-weight: calc(var(--font-header-weight) * 1);
    --h6-weight: calc(var(--font-header-weight) * 1);

    --h1-font: var(--font-header);
    --h2-font: var(--font-header);
    --h3-font: var(--font-header);
    --h4-font: var(--font-header);
    --h5-font: var(--font-header);
    --h6-font: var(--font-header);

    .vertical-tab-header-group-title,
    .setting-item-heading .setting-item-name {
        font-family: var(--font-header);
        font-size: var(--font-ui-large);
    }
    .markdown-preview-view,
    .markdown-reading-view {
        --h1-font: var(--font-header);
        --h2-font: var(--font-header);
        --h3-font: var(--font-header);
        --h4-font: var(--font-header);
        --h5-font: var(--font-header);
        --h6-font: var(--font-header);
    }

    .markdown-preview-view,
    .markdown-reading-view,
    .markdown-source-view {
        font-weight: var(--normal-weight);
        font-feature-settings: var(--font-feature);
        font-variation-settings: var(--font-variation);
        --font-text-size: var(--font-size);
        /*letter-spacing: 0.01rem;*/
    }
    .markdown-reading-view code,
    .HyperMD-codeblock {
        font-weight: 400;
        line-height: 1.5 !important;
    }
    .cm-comment.cm-strong {
        color: color-mix(in oklab, inherit 50%, transparent);
    }

    .nav-file-tag {
        line-height: inherit;
    }

    .markdown-reading-view sup {
        line-height: 0;
        font-feature-settings: "sups" on;
    }

    @media only screen and (max-width: 600px) {
        & {
            --font-ratio: 1.3 !important;
        }
    }

    .inline-title:not([data-level]) {
        letter-spacing: var(--font-header-letter-spacing, normal);
    }

    .markdown-reading-view h1,
    .markdown-reading-view h2,
    .markdown-reading-view h3,
    .markdown-reading-view h4,
    .markdown-reading-view h5,
    .markdown-reading-view h6,
    .HyperMD-header-1,
    .HyperMD-header-2,
    .HyperMD-header-3,
    .HyperMD-header-4,
    .HyperMD-header-5,
    .HyperMD-header-6,
    .inline-title,
    .inline-title:not([data-level]) {
        font-feature-settings: var(--font-header-feature);
        font-variation-settings: var(--font-header-variation);
        overflow-wrap: normal;
        letter-spacing: var(--font-header-letter-spacing, normal);
        line-height: var(--font-header-line-height, 1em); /*0.50em;*/
        text-wrap: balance;
        font-style: var(--font-header-style, normal);
        font-weight: var(--font-header-weight);
        font-family: var(--font-header);
    }

    .markdown-reading-view b,
    .markdown-reading-view strong,
    span.cm-strong,
    .cm-strong {
        font-weight: var(--bold-weight);
        font-variation-settings: "wght" var(--bold-weight);
        color: var(--color-bold);
    }
    .markdown-reading-view em,
    span.cm-em,
    .cm-em {
        color: var(--color-italic);
    }

    .markdown-reading-view h5,
    .HyperMD-header-5 {
        letter-spacing: 0.005em !important;
        font-weight: var(--h5-weight);
    }

    .markdown-reading-view h6,
    .HyperMD-header-6 {
        letter-spacing: 0.005em !important;
    }

    .markdown-reading-view code,
    .markdown-reading-view pre {
        font-feature-settings: var(--font-monospace-feature);
        font-variation-settings: var(--font-monospace-variation);
    }

    .markdown-reading-view ol > li,
    .markdown-reading-view ul > li,
    .mod-cm6 .HyperMD-list-line.cm-line {
        line-height: max(
            calc(var(--line-height-normal) * 0.75),
            var(--line-height-tight)
        );
    }
}
