/* ============================================= */
/* Vertical Flow */
/* ============================================= */
body {
    --marge: 1rlh; /* single unit */
    --marge-block: 2; /* block separation */
    --marge-block-calculated: calc(var(--marge) * var(--marge-block));
    --marge-block-special: var(--marge-block-calculated);
}

.chisel-vertical-rhythm {
    --tag-border-width: 1px;
    --tag-radius: calc(var(--marge) * 0.25);
    --tag-padding-x: calc(var(--marge) * 0.25);
    --tag-padding-y: calc(var(--marge) * 0.25);

    --table-margin: auto;
    --table-cell-padding: 0 calc(var(--marge) * 5) 0 calc(var(--marge) * 5);
    --table-edge-cell-padding-first: 0 calc(var(--marge) * 5);
    --file-margins: var(--marge);

    :is(.markdown-source-view, .markdown-reading-view) table {
        margin-left: var(--table-margin);
        margin-right: var(--table-margin);
    }
    :is(.markdown-source-view, .markdown-reading-view) p,
    .cm-line {
        line-height: var(--line-height-normal);
        margin-top: 0rlh;
        margin-bottom: var(--marge-block-calculated);
        padding: 0;
        margin-block-start: 0;
    }

    .markdown-preview-section > div.el-p:has(.image-embed) {
        margin: var(--marge-block-calculated) 0;
    }

    .markdown-preview-section
        > div.el-p:has(.image-embed)
        + div.el-p:has(.image-embed) {
        margin-top: calc(var(--marge) * -1.75);
    }

    .markdown-preview-section p:has(.image-embed),
    .markdown-reading-view .callout,
    .markdown-reading-view.mod-cm6 .callout,
    .markdown-reading-view blockquote,
    .markdown-reading-view pre {
        margin: var(--marge-block-special);
    }

    .markdown-reading-view blockquote p:last-of-type {
        margin-bottom: 0;
    }

    :is(.markdown-source-view, .markdown-reading-view) .callout-content,
    :is(.markdown-source-view, .markdown-reading-view) blockquote {
        font-size: var(--font-small);
        line-height: var(--line-height-tight);
    }
    :is(.markdown-source-view, .markdown-reading-view)
        .callout-content
        > p:last-of-type {
        margin: 0;
    }
    :is(.markdown-source-view, .markdown-reading-view) .callout-content > ul {
        margin: 0rlh 0 0 0;
        padding: 0 0 0 var(--marge);
    }

    .markdown-reading-view hr {
        margin: calc(var(--marge) * 5) calc(var(--marge) * 8)
            calc(var(--marge) * 6) calc(var(--marge) * 8);
    }
    .markdown-source-view hr {
        margin: 0 25%;
    }
    :is(.markdown-source-view, .markdown-reading-view)
        .popover
        .markdown-embed-content,
    :is(.markdown-source-view, .markdown-reading-view) .markdown-embed-content,
    :is(.markdown-source-view, .markdown-reading-view)
        .popover
        .markdown-embed-title,
    :is(.markdown-source-view, .markdown-reading-view) .markdown-embed-title {
        padding: var(--marge) !important;
    }

    .markdown-preview-view ul,
    .markdown-preview-view ol {
        padding: 0rlh calc(var(--marge) * 2);
        margin: calc(var(--marge) * -0.75) 0rlh
            calc(var(--marge-block-calculated) * 1) 0rlh;
    }
    .markdown-preview-view ul ul,
    .markdown-preview-view ol ul {
        margin-top: 0;
    }
    .el-h1 + .el-ul ul,
    .el-h2 + .el-ul ul,
    .el-h3 + .el-ul ul,
    .el-h4 + .el-ul ul,
    .el-h5 + .el-ul ul,
    .el-h6 + .el-ul ul,
    .el-h1 + .el-ol ol,
    .el-h2 + .el-ol ol,
    .el-h3 + .el-ol ol,
    .el-h4 + .el-ol ol,
    .el-h5 + .el-ol ol,
    .el-h6 + .el-ol ol {
        margin-top: calc(var(--marge) * 0.5);
    }

    .markdown-preview-view ol > li,
    .markdown-preview-view ul > li,
    .markdown-source-view ol > li,
    .markdown-source-view ul > li {
        margin: 0rlh;
    }

    .markdown-preview-view ol > li:not(:first-child),
    .markdown-preview-view ul > li:not(:first-child),
    .markdown-source-view ol > li:not(:first-child),
    .markdown-source-view ul > li:not(:first-child) {
        margin-top: calc(var(--marge) * 0.5);
    }

    /*
    .mod-cm6 .HyperMD-list-line.cm-line {
        margin-bottom: 0. calc(var(--marge) * 5) !important;
    }
*/
    .markdown-reading-view .inline-title {
        margin-top: calc(var(--marge) * 4);
        margin-bottom: calc(var(--marge) * 3);
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
        hyphens: auto;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    /*  .HyperMD-header-1.cm-line */
    .markdown-reading-view div div h1 {
        margin-top: calc(var(--marge) * 8);
        margin-bottom: calc(var(--marge) * 3);
        padding: 0;
    }

    /*  .HyperMD-header-2.cm-line  */
    .markdown-reading-view div div h2 {
        margin-top: calc(var(--marge) * 6);
        margin-bottom: calc(var(--marge) * 2);
        padding: 0;
    }
    /*  .HyperMD-header-3.cm-line
is commented because is bugged the ability to select text
*/
    .markdown-reading-view div div h3 {
        margin-top: calc(var(--marge) * 4);
        margin-bottom: calc(var(--marge) * 2);
        padding: 0;
    }
    /*  .HyperMD-header-1.cm-line + .HyperMD-header-2.cm-line */
    .markdown-reading-view div.el-h1 + div.el-h2 h2 {
        margin-top: var(--marge);
    }
    /*  .HyperMD-header-2.cm-line + .HyperMD-header-3.cm-line  */
    .markdown-reading-view div.el-h2 + div.el-h3 h3 {
        margin-top: calc(var(--marge) * 2);
    }

    /*  .HyperMD-header-2.cm-line + .HyperMD-header-3.cm-line  */
    .markdown-reading-view div.el-h3 + div.el-h4 h4 {
        margin-top: 0rlh;
    }

    /*  .HyperMD-header-4.cm-line */
    .markdown-reading-view div div h4 {
        margin-top: calc(var(--marge) * 4);
        margin-bottom: var(--marge);
        padding: 0;
    }

    /*  .HyperMD-header-2.cm-line + .HyperMD-header-3.cm-line  */
    .markdown-reading-view div.el-h4 + div.el-h5 h5 {
        margin-top: 0rlh;
    }

    /*  .HyperMD-header-5.cm-line */
    .markdown-reading-view div div h5 {
        margin-top: calc(var(--marge) * 2);
        margin-bottom: var(--marge);
        padding: 0;
    }

    /*  .HyperMD-header-6.cm-line  */
    .markdown-reading-view div div h6 {
        margin-top: calc(var(--marge) * 2);
        margin-bottom: 0rlh;
        padding: 0;
    }

    .markdown-reading-view div.el-h6 + div blockquote {
        margin-top: var(--marge);
    }

    @media only screen and (max-width: 600px) {
        --marge-block-special: var(--marge-block-calculated) 0;
        .inline-title {
            margin-bottom: calc(var(--marge) * 3);
            margin-top: var(--marge);
        }
        .markdown-source-view .inline-title {
            margin-bottom: var(--marge);
        }
        .markdown-reading-view ul,
        .markdown-reading-view ol,
        .markdown-reading-view .callout-content ul,
        .markdown-reading-view .callout-content ol {
            padding: 0 0 0 var(--marge);
        }
        .markdown-reading-view hr {
            margin: calc(var(--marge) * 4) 25% !important;
        }
    }

    @media only screen and (min-width: 900px) {
        .inline-title {
            margin-top: calc(var(--marge) * 4);
        }
    }
}
/* Preview mode (reading view) */
.chisel-vertical-rhythm .markdown-reading-view h1 + h1,
.chisel-vertical-rhythm .markdown-reading-view h1 + h2,
.chisel-vertical-rhythm .markdown-reading-view h1 + h3,
.chisel-vertical-rhythm .markdown-reading-view h1 + h4,
.chisel-vertical-rhythm .markdown-reading-view h1 + h5,
.chisel-vertical-rhythm .markdown-reading-view h1 + h6,
.chisel-vertical-rhythm .markdown-reading-view h2 + h1,
.chisel-vertical-rhythm .markdown-reading-view h2 + h2,
.chisel-vertical-rhythm .markdown-reading-view h2 + h3,
.chisel-vertical-rhythm .markdown-reading-view h2 + h4,
.chisel-vertical-rhythm .markdown-reading-view h2 + h5,
.chisel-vertical-rhythm .markdown-reading-view h2 + h6,
.chisel-vertical-rhythm .markdown-reading-view h3 + h1,
.chisel-vertical-rhythm .markdown-reading-view h3 + h2,
.chisel-vertical-rhythm .markdown-reading-view h3 + h3,
.chisel-vertical-rhythm .markdown-reading-view h3 + h4,
.chisel-vertical-rhythm .markdown-reading-view h3 + h5,
.chisel-vertical-rhythm .markdown-reading-view h3 + h6,
.chisel-vertical-rhythm .markdown-reading-view h4 + h1,
.chisel-vertical-rhythm .markdown-reading-view h4 + h2,
.chisel-vertical-rhythm .markdown-reading-view h4 + h3,
.chisel-vertical-rhythm .markdown-reading-view h4 + h4,
.chisel-vertical-rhythm .markdown-reading-view h4 + h5,
.chisel-vertical-rhythm .markdown-reading-view h4 + h6,
.chisel-vertical-rhythm .markdown-reading-view h5 + h1,
.chisel-vertical-rhythm .markdown-reading-view h5 + h2,
.chisel-vertical-rhythm .markdown-reading-view h5 + h3,
.chisel-vertical-rhythm .markdown-reading-view h5 + h4,
.chisel-vertical-rhythm .markdown-reading-view h5 + h5,
.chisel-vertical-rhythm .markdown-reading-view h5 + h6,
.chisel-vertical-rhythm .markdown-reading-view h6 + h1,
.chisel-vertical-rhythm .markdown-reading-view h6 + h2,
.chisel-vertical-rhythm .markdown-reading-view h6 + h3,
.chisel-vertical-rhythm .markdown-reading-view h6 + h4,
.chisel-vertical-rhythm .markdown-reading-view h6 + h5,
.chisel-vertical-rhythm .markdown-reading-view h6 + h6,

/* Editor mode */
.chisel-vertical-rhythm .HyperMD-header-1.cm-line + .HyperMD-header-1.cm-line,
.chisel-vertical-rhythm .HyperMD-header-1.cm-line + .HyperMD-header-2.cm-line,
.chisel-vertical-rhythm .HyperMD-header-1.cm-line + .HyperMD-header-3.cm-line,
.chisel-vertical-rhythm .HyperMD-header-1.cm-line + .HyperMD-header-4.cm-line,
.chisel-vertical-rhythm .HyperMD-header-1.cm-line + .HyperMD-header-5.cm-line,
.chisel-vertical-rhythm .HyperMD-header-1.cm-line + .HyperMD-header-6.cm-line,
.chisel-vertical-rhythm .HyperMD-header-2.cm-line + .HyperMD-header-1.cm-line,
.chisel-vertical-rhythm .HyperMD-header-2.cm-line + .HyperMD-header-2.cm-line,
.chisel-vertical-rhythm .HyperMD-header-2.cm-line + .HyperMD-header-3.cm-line,
.chisel-vertical-rhythm .HyperMD-header-2.cm-line + .HyperMD-header-4.cm-line,
.chisel-vertical-rhythm .HyperMD-header-2.cm-line + .HyperMD-header-5.cm-line,
.chisel-vertical-rhythm .HyperMD-header-2.cm-line + .HyperMD-header-6.cm-line,
.chisel-vertical-rhythm .HyperMD-header-3.cm-line + .HyperMD-header-1.cm-line,
.chisel-vertical-rhythm .HyperMD-header-3.cm-line + .HyperMD-header-2.cm-line,
.chisel-vertical-rhythm .HyperMD-header-3.cm-line + .HyperMD-header-3.cm-line,
.chisel-vertical-rhythm .HyperMD-header-3.cm-line + .HyperMD-header-4.cm-line,
.chisel-vertical-rhythm .HyperMD-header-3.cm-line + .HyperMD-header-5.cm-line,
.chisel-vertical-rhythm .HyperMD-header-3.cm-line + .HyperMD-header-6.cm-line,
.chisel-vertical-rhythm .HyperMD-header-4.cm-line + .HyperMD-header-1.cm-line,
.chisel-vertical-rhythm .HyperMD-header-4.cm-line + .HyperMD-header-2.cm-line,
.chisel-vertical-rhythm .HyperMD-header-4.cm-line + .HyperMD-header-3.cm-line,
.chisel-vertical-rhythm .HyperMD-header-4.cm-line + .HyperMD-header-4.cm-line,
.chisel-vertical-rhythm .HyperMD-header-4.cm-line + .HyperMD-header-5.cm-line,
.chisel-vertical-rhythm .HyperMD-header-4.cm-line + .HyperMD-header-6.cm-line,
.chisel-vertical-rhythm .HyperMD-header-5.cm-line + .HyperMD-header-1.cm-line,
.chisel-vertical-rhythm .HyperMD-header-5.cm-line + .HyperMD-header-2.cm-line,
.chisel-vertical-rhythm .HyperMD-header-5.cm-line + .HyperMD-header-3.cm-line,
.chisel-vertical-rhythm .HyperMD-header-5.cm-line + .HyperMD-header-4.cm-line,
.chisel-vertical-rhythm .HyperMD-header-5.cm-line + .HyperMD-header-5.cm-line,
.chisel-vertical-rhythm .HyperMD-header-5.cm-line + .HyperMD-header-6.cm-line,
.chisel-vertical-rhythm .HyperMD-header-6.cm-line + .HyperMD-header-1.cm-line,
.chisel-vertical-rhythm .HyperMD-header-6.cm-line + .HyperMD-header-2.cm-line,
.chisel-vertical-rhythm .HyperMD-header-6.cm-line + .HyperMD-header-3.cm-line,
.chisel-vertical-rhythm .HyperMD-header-6.cm-line + .HyperMD-header-4.cm-line,
.chisel-vertical-rhythm .HyperMD-header-6.cm-line + .HyperMD-header-5.cm-line,
.chisel-vertical-rhythm .HyperMD-header-6.cm-line + .HyperMD-header-6.cm-line {
    margin-top: 0rlh;
}

/* Preview mode */
.chisel-vertical-rhythm .markdown-reading-view h1 + h2,
.chisel-vertical-rhythm .markdown-reading-view h1 + h3,
.chisel-vertical-rhythm .markdown-reading-view h1 + h4,
.chisel-vertical-rhythm .markdown-reading-view h1 + h5,
.chisel-vertical-rhythm .markdown-reading-view h1 + h6,

/* Editor mode */
.chisel-vertical-rhythm .HyperMD-header-1.cm-line + .HyperMD-header-2.cm-line,
.chisel-vertical-rhythm .HyperMD-header-1.cm-line + .HyperMD-header-3.cm-line,
.chisel-vertical-rhythm .HyperMD-header-1.cm-line + .HyperMD-header-4.cm-line,
.chisel-vertical-rhythm .HyperMD-header-1.cm-line + .HyperMD-header-5.cm-line,
.chisel-vertical-rhythm .HyperMD-header-1.cm-line + .HyperMD-header-6.cm-line {
    margin-top: calc(var(--marge) * 2);
}
