.chisel-base {
    .bases-embed {
        --bases-embed-border-width: 10px !important;
    }

    .bases-tbody,
    .bases-rendered-value {
        --bases-table-text-size: calc(
            var(--font-text-size) * pow(var(--font-ratio), -0.5)
        );
        --bases-table-text-size: var(--nav-item-size);
        --input-padding: 0.5rlh 0.5rlh !important;
        box-shadow: none;
        --table-border-color: var(--border-color);
        --bases-table-header-background: var(--background-secondary);
    }

    .bases-header,
    .bases-thead,
    .bases-tr,
    .bases-td {
        box-shadow: none;
        border: 0;
        --bases-header-border-width: 0;
    }
    .bases-tr:not(:last-child) {
        border-bottom: 1px solid var(--divider-color);
    }

    .bases-embed .bases-view {
        --bases-embed-border-width: 0px;
        --bases-embed-border-color: var(--border-color);
        --bases-embed-border-radius: var(--radius);
    }

    .mod-sidedock .bases-header,
    .bases-header {
        opacity: 0.4;
    }
    .mod-sidedock .bases-header:hover,
    .bases-header:hover,
    .bases-thead:hover {
        opacity: 1;
    }
    .bases-thead {
        opacity: 0.4;
    }
    .mod-sidedock .bases-thead {
        display: none;
    }
}
