/* ============================================= */
/* Better highlights */
/* ============================================= */
.chisel-better-highlights {
    body.theme-light.ptm-highlight-current-line
        .ptm-current-line-highlight.ptm-current-line-highlight-box {
        background: var(--background-primary);
        border: 1px solid var(--background-secondary-alt);
        border-left: 0;
        border-right: 0;
    }
    body.theme-dark.ptm-highlight-current-line
        .ptm-current-line-highlight.ptm-current-line-highlight-box {
        background: var(--background-secondary);
        mix-blend-mode: overlay;
        border: 1px solid var(--text-normal);
        border-left: 0;
        border-right: 0;
        opacity: 0.5;
    }
}
