/* ============================================= */
/* Add block small classe */
/* ============================================= */
@media only screen and (min-width: $screen-small-width) {
	body.block-small .markdown-preview-view:not(.block-small-off)  {
		--line-width-bs: 100%;
	}
	body.block-small.is-readable-line-width .markdown-preview-view:not(.block-small-off) {
		--line-width-bs:  var(--file-line-width);
	}

	.block-small .markdown-preview-view:not(.block-small-off) .el-embed-image p,
	.block-small .markdown-preview-view:not(.block-small-off) .el-div .callout,
	.block-small .markdown-preview-view:not(.block-small-off) .el-blockquote blockquote {
		--line-width-small:  calc(var(--line-width-bs) * 0.75);

		max-width: var(--line-width-small);
		margin-inline:auto !important;

		--container-img-max-width:  var(--line-width-small);
		--container-img-width: var(--line-width-small);
		--img-line-width: var(--line-width-small);
		--img-margin-start: calc(50% - var(--line-width-small)/2);
	}
}