/* ============================================= */
/* Add block small classe */
/* ============================================= */
body.block-small {
	--line-width-bs: 100%;
}
body.block-small.is-readable-line-width {
	--line-width-bs:  var(--file-line-width);
}

.block-small .el-embed-image p,
.block-small .el-div .callout,
.block-small .el-blockquote blockquote {
	--line-width-small:  calc(var(--line-width-bs) * 0.75);

	max-width: var(--line-width-small);
    min-width: 300px;
	margin-inline:auto !important;

	--container-img-max-width:  var(--line-width-small);
	--container-img-width: var(--line-width-small);
	--img-line-width: var(--line-width-small);
	--img-margin-start: calc(50% - var(--line-width-small)/2);
}