.markdown-preview-view pre,
pre code[class*="language-"] {
    line-height: var(--line-height-normal);
    font-size: var(--font-smaller);
}

.code-wrap-off .markdown-preview-view code[class*="language-"],
.code-wrap-off .markdown-source-view code[class*="language-"],
.code-wrap-off .markdown-preview-view pre[class*="language-"],
.code-wrap-off .markdown-source-view pre[class*="language-"] {
    white-space: pre;
}

/* code elements */
.folder-note-underline .has-folder-note .nav-folder-title-content {
    text-decoration-line: underline;
    text-decoration-color: var(--text-faint);
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

/*.markdown-source-view, .markdown-reading-view {
	letter-spacing: var(--font-letter-spacing);
  }*/

.cm-gutterElement {
    font-family: var(--font-monospace);
    font-feature-settings: "dlig", "salt", "case", "kern", "tnum" !important;
}

.code-copy-button-off
    .markdown-preview-view:not(.code-copy-button-on)
    button.copy-code-button {
    display: none;
}
