.focus
    .cm-lineWrapping
    > .cm-line.cm-active:not(:has(.mk-note-footer, .mk-floweditor-container)) {
    opacity: 1;
    filter: none;
}

.focus .cm-lineWrapping > .cm-line {
    opacity: 0.5;
    filter: blur(0.4px);
}
