/* ============================================= */
/* Image Grid */
/* Based on https://github.com/kepano/obsidian-minimal/blob/master/src/scss/features/image-grid.scss */
/* ============================================= */
.img-grid .image-embed.is-loaded {
    line-height: 0;
}

.img-grid .markdown-preview-section > div:has(.image-embed) > p {
    display: grid;
    margin-top: 0.25rlh;
    margin-bottom: 0.25rlh;
    grid-column-gap: 0.25rlh;
    grid-row-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.img-grid .markdown-preview-section > div:has(.image-embed) > p > br {
    display: none;
}

.img-grid
    .markdown-preview-section
    > div:has(.image-embed)
    > p
    > .internal-embed
    img,
.img-grid .markdown-source-view img {
    object-fit: cover;
    align-self: center;
    height: 100%;
    width: 100%;
    border-radius: var(--radius-m);
    border: 1px solid
        color-mix(in srgb, var(--background-primary) 75%, var(--color-black));

    box-shadow:
        0.3px 0.5px 0.8px
            color-mix(
                in srgb,
                var(--background-primary) 90%,
                var(--color-black)
            ),
        0.5px 0.9px 1.5px -0.2px color-mix(in srgb, var(--background-primary)
                    80%, var(--color-black)),
        1px 2px 3.2px -0.4px color-mix(in srgb, var(--background-primary) 80%, var(--color-black));
}
