/* ============================================= */
/* Geometric Precision Text Rendering */
/* ============================================= */
body.font-geometric :not(:has(.font-geometric-off)),
body.font-geometric :not(:has(.font-geometric-off)) {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}