body {	
	font-optical-sizing: auto;
	/* Line heights */
	--typo-line-height: 1.5;

	--code-white-space: pre !important;

	--normal-weight: 400;
	--bold-weight: 500;

	--line-height-normal: var(--typo-line-height) !important;
	--line-height: var(--typo-line-height) !important;
	--typo-ratio: 1.125;  
	--typo-letter-spacing: 0em;

	--base-line: calc(var(--font-text-size) * var(--line-height-normal));

	--img-grid-gap: calc(var(--line-height-normal) * 0.5);
	--heading-spacing: var(--line-height-normal);
	--p-spacing: var(--base-line);
	--h1-weight: 900;
	--h1-font: var(--gisele_typography_header_font);
	--h2-font: var(--gisele_typography_header_font);
	--h3-font: var(--gisele_typography_header_font);
	--h4-font: var(--gisele_typography_header_font);
	--h5-font: var(--gisele_typography_header_font);
	--h6-font: var(--gisele_typography_header_font);

	--h1-size: calc(var(--font-text-size) * pow(var(--typo-ratio), 5));
	--h2-size: calc(var(--font-text-size) * pow(var(--typo-ratio), 4));
	--h3-size: calc(var(--font-text-size) * pow(var(--typo-ratio), 3));
	--h4-size: calc(var(--font-text-size) * pow(var(--typo-ratio), 2));
	--h5-size: calc(var(--font-text-size) * pow(var(--typo-ratio), 1));
	--h6-size: calc(var(--font-text-size) * pow(var(--typo-ratio), 0));

	--font-smallest: calc(var(--font-text-size) * pow(var(--typo-ratio), -1.5));
	--font-smaller: calc(var(--font-text-size) * pow(var(--typo-ratio), -1));
	--font-small: calc(var(--font-text-size) * pow(var(--typo-ratio), -0.5));
}
@media only screen and (max-width: $screen-small-width) {
	body {
		--typo-ratio: 1.225 !important; 
	}
}
.small-text { --font-text-size: var(--font-small) !important; }