/*──────────Blockquotes──────────*/

.callout[data-callout="comment"] {
    --callout-color: var(--color-green);
    --callout-icon: lucide-tree-pine;
}
.callout[data-callout="transcript"] {
    --callout-color: var(--color-purple);
    --callout-icon: lucide-mic-vocal;
    margin: 0 0 var(--margin) 0 !important;
}

.callout,
.markdown-preview-view pre,
.markdown-preview-view blockquote {
    background: var(--background-secondary);
    background-color: color-mix(
        in oklab,
        var(--color-base-100) 2.5%,
        transparent
    );
    padding: 1rlh 1rlh;
    border-radius: var(--radius-m);
    border: 1px solid var(--background-modifier-border);
    font-size: var(--font-small);
    line-height: var(--line-height-tight);
    /*
    box-shadow:
        0.3px 0.5px 0.8px
            color-mix(
                in oklab,
                var(--background-primary) 90%,
                var(--color-black)
            ),
        0.5px 0.9px 1.5px -0.2px color-mix(in oklab, var(--background-primary)
                    90%, var(--color-black)),
        1px 2px 3.2px -0.4px color-mix(in oklab, var(--background-primary) 90%, var(--color-black));
*/
}
.markdown-rendered code {
    background-color: color-mix(
        in oklab,
        var(--color-base-05) 100%,
        transparent
    );
}

.markdown-preview-view pre,
pre code[class*="language-"] {
    line-height: var(--line-height-normal);
    font-size: var(--font-smaller);
}
.markdown-preview-view blockquote,
.markdown-source-view .HyperMD-quote {
    font-style: italic;
}

.callout {
    mix-blend-mode: normal;
    transition: var(--duration-superfast) var(--motion-smooth);
    padding: 0.25rlh;
    margin: 1rlh 0;

    /* border-color: rgba(var(--callout-color), var(--callout-border-opacity)); */
    border-color: color-mix(in oklab, var(--callout-color) 10%, transparent);
    background-color: color-mix(
        in oklab,
        var(--callout-color) 10%,
        transparent
    );
}

.callout-icon {
    margin: -0.12rlh 0rlh 0rlh 0rlh;
}

.callout-title {
    margin: 0.5rlh 0 0.5rlh 0.75rlh;
    color: var(--callout-color);
}

.callout-content {
    padding: 0.5rlh 1rlh;
    border-radius: var(--radius-m);
    background-color: color-mix(
        in oklab,
        var(--callout-color) 2.5%,
        var(--background-primary)
    );
    box-shadow: inset 0px 0px 0px 1px
        color-mix(in oklab, var(--callout-color) 20%, transparent);
    /* border-radius: calc(var(--radius) * 2); */
    font-size: var(--font-small);
    margin-left: 0;
}

.callout-content ol,
.callout-content ul {
    padding: 0rlh 0rlh 0rlh 1.5rlh;
    margin: 0.5rlh 0rlh;
}
.callout .callout-content p:first-child {
    margin-top: 0;
}

.callout-content:has(.callout) {
    padding: 0;
}
.callout-content .callout {
    margin: 0.5rlh !important;
    max-width: unset !important;
}
.callout-content pre {
    margin: 0.5rlh -0.5rlh !important;
    padding: 0.5rlh;
}

.callout[data-callout="caption"] {
    padding: 0;
    background: none;
    background-color: transparent;
    border: none;
    margin: 0 1rlh 0rlh 1rlh !important;
    box-shadow: none;
}

.markdown-reading-view .callout[data-callout="caption"] {
    position: relative;
    top: -1.5rlh;
}

.callout[data-callout="caption"] .callout-title {
    display: none;
}

.callout[data-callout="caption"] .callout-content {
    padding: 0.5rlh 1rlh;
    background: none;
    border: none;
    box-shadow: none;
    line-height: 1;
    text-align: center;
}

.callout[data-callout="caption"] .callout-content p:first-child {
    margin-top: 0;
}
