/*──────────FrontMatter Elements──────────*/
.cm-line:has(.cm-hmd-frontmatter) {
	background: var(--background-secondary);
	font-size: var(--font-smaller);
  }
  
  .cm-hmd-frontmatter {
	color: var(--text-normal);
	font-size: var(--font-small);
	line-height: var(--line-height-tight);
  }