/*
body.minimalist:not(.is-mobile)
    .workspace-leaf-content[data-mode="preview"]
    .view-header {
    opacity: 0.5;
    height: var(--header-height);
    display: none;
}

.minimalist
    .workspace-leaf-content[data-mode="preview"]
    .view-header
    .clickable-icon {
    display: none;
}
*/
.minimalist
    .workspace-leaf-content[data-mode="preview"]
    .view-header
    .clickable-icon:has(.lucide-edit-3) {
    display: flex;
}

.minimalist
    .app-container:has(
        .workspace-leaf-content[data-mode="preview"]
    ).status-bar {
    display: none;
}





