/*
body.minimalist:not(.is-mobile)
    .workspace-leaf-content[data-mode="preview"]
    .view-header {
    opacity: 0.5;
    height: var(--header-height);
    display: none;
}

.minimalist
    .workspace-leaf-content[data-mode="preview"]
    .view-header
    .clickable-icon {
    display: none;
}
*/
.minimalist
    .workspace-leaf-content[data-mode="preview"]
    .view-header
    .clickable-icon:has(.lucide-edit-3) {
    display: flex;
}

.minimalist
    .app-container:has(.workspace-leaf-content[data-mode="preview"])
    .status-bar {
    display: none !important;
}

.minimalist:has(div[data-mode="preview"]) .view-header-title-parent,
.minimalist:has(div[data-mode="preview"]) .view-header-title,
.minimalist:has(div[data-mode="preview"]) .cmdr-page-header,
.minimalist:has(.is-live-preview) .view-header-title-parent,
.minimalist:has(.is-live-preview) .view-header-title,
.minimalist:has(.is-live-preview) .cmdr-page-header {
    display: none;
}

.minimalist:has(div[data-mode="preview"]) .view-header {
    margin-bottom: calc(-1 * var(--header-height));
    background: transparent !important;
}
